.vagrant/
vendor/
config/development.config.php
data/cache/*
data/DoctrineORMModule/*
!data/cache/.gitkeep
phpunit.xml
*.mwb.bak
/.buildpath
public/temp/captcha/*
public/files/img/*
public/files/file/*