body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

<<<<<<< HEAD
.icon{
	width:17px;
}

.btn-icon{
	padding:2px 3px;
	display:inline;
}

=======
>>>>>>> a50c8e562c19de6b9203525bf6ebed3c51c80098
form input{
	margin-bottom:10px;
}

form label{
	margin-left:5px;
}

<<<<<<< HEAD
form label.info{
	font-weight:normal;
=======
form input, form label{
	display:block;
>>>>>>> a50c8e562c19de6b9203525bf6ebed3c51c80098
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

.module {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.2);
	box-shadow: 0 0 1px rgba(0,0,0,0.2);
}

.module-login {
	margin-bottom: 80px;
	margin-top: 20px;
	max-width:400px;
	padding:0;
}
.module-login .form-vertical input {
	margin-bottom: 0!important
}

.module-login input{
	width:100%;
}

.container-login{
	margin:60px 0;
}

.container-login .alert{
	max-width:400px;
	margin: 0 auto;
}

.module-head {
	color: #767676;
	background-color: #f6f6f6;
	border-color: #e9e9e9;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;	
}
.module-head h3 {
	font-size: 14px;
	font-weight:bold;
	line-height: 20px;
	height: 20px;
	margin: 0
}
.module-option {
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 0;
	margin: 0 15px
}
.module-body {
	padding: 15px
}

.control-group{
	margin-bottom:10px;
}

.module-foot {
	background: #f9f9f9;
	border-top: 1px solid #ddd;
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	padding: 15px
}

.module-small{
	max-width: 300px;!important
}

.module-medium{
	max-width: 600px;
}

.module-large{
	width:100%;
}

.module-cadastro{
	padding-bottom: 20px;
}


.module-cadastro .form-group-sm{
	max-width:300px;
}